In [73]:
# Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [74]:
# load dataset
pima = pd.read_csv("dataset.csv")

In [75]:
pima.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [76]:
feature_cols = pima.columns[:-1]
X = pima[feature_cols] # Features
y = pima.Target # Target variable

In [77]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1) # 80% training and 20% test

In [78]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

df = pd.DataFrame(X_test)
df['target'] = y_pred
df

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,target
44,1,12,1,17,0,1,1,22,27,10,...,0,5,0,0,0.000000,0,16.2,0.3,-0.92,Dropout
3411,1,8,4,12,1,1,1,23,27,10,...,0,8,8,7,12.454286,0,10.8,1.4,1.74,Graduate
4212,1,8,2,15,1,1,1,1,1,5,...,0,6,6,6,14.666667,0,12.4,0.5,1.79,Graduate
3037,1,1,1,14,1,1,1,1,1,10,...,0,6,9,6,13.000000,0,8.9,1.4,3.51,Graduate
1672,1,15,1,8,1,14,1,3,1,5,...,0,6,10,4,12.000000,0,16.2,0.3,-0.92,Dropout
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,1,14,1,7,1,1,1,1,1,10,...,0,5,9,1,11.000000,4,16.2,0.3,-0.92,Dropout
4153,1,1,1,2,1,1,1,13,4,10,...,0,0,0,0,0.000000,0,12.7,3.7,-1.70,Dropout
3008,1,1,1,8,1,1,1,25,14,3,...,0,6,11,4,14.600000,0,8.9,1.4,3.51,Graduate
3531,1,13,1,4,1,14,1,3,1,3,...,5,10,12,9,13.111111,0,16.2,0.3,-0.92,Graduate
3017,1,1,1,12,1,1,1,3,3,2,...,0,8,9,8,14.533333,0,11.1,0.6,2.02,Graduate

In [79]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7084745762711865

In [80]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(criterion="entropy", max_depth=3)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

D:\anaconda3\envs\scikit-1.1\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- target

  warnings.warn(message, FutureWarning)

ValueError: could not convert string to float: 'Dropout'

## Optiizing Decision Tree Performance using Entry

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(criterion="entropy", max_depth=3)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

## Optiizing Decision Tree Performance using Gini-Impurity

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(criterion="gini", max_depth=3)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

In [ ]:
from sklearn import tree
import graphviz 

dot_data = tree.export_graphviz(clf, out_file=None, 
                     feature_names=feature_cols,  
                     class_names=pima.Target,  
                     filled=True, rounded=True,  
                     special_characters=True)  
graph = graphviz.Source(dot_data)  
graph.render("Result") 
graph

In [ ]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(clf, X, y, cv=10)
scores